In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male','smoker_yes']]
dependent=dataset[['charges']]

In [5]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
ada = AdaBoostRegressor()
search={'loss':['linear','square', 'exponential'],
        'n_estimators':[500,1000,2000]}
grid=GridSearchCV(estimator=ada,param_grid=search,refit=True,verbose=3,n_jobs=-1)

grid.fit(independent,dependent)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=AdaBoostRegressor(), n_jobs=-1,
             param_grid={'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [500, 1000, 2000]},
             verbose=3)

In [6]:
re=grid.cv_results_
print("The R Score value for the best Parameter{}:".format(grid.best_params_))

The R Score value for the best Parameter{'loss': 'linear', 'n_estimators': 500}:

In [7]:
table=pd.DataFrame.from_dict(re)

In [8]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.039371,0.012114,0.009594,0.001199,linear,500,"{'loss': 'linear', 'n_estimators': 500}",0.837290,0.782658,0.854909,0.819434,0.841638,0.827186,0.024989,1
1,0.037376,0.006434,0.008995,0.000631,linear,1000,"{'loss': 'linear', 'n_estimators': 1000}",0.804409,0.779603,0.818077,0.807605,0.845619,0.811063,0.021398,3
2,0.039575,0.006999,0.010194,0.001599,linear,2000,"{'loss': 'linear', 'n_estimators': 2000}",0.826219,0.783167,0.832813,0.817969,0.838869,0.819807,0.019593,2
3,1.273014,0.028899,0.108933,0.004240,square,500,"{'loss': 'square', 'n_estimators': 500}",0.490456,0.360003,0.392715,0.432314,0.427316,0.420561,0.043616,7
4,2.576811,0.041112,0.199877,0.003161,square,1000,"{'loss': 'square', 'n_estimators': 1000}",0.487261,0.364258,0.396025,0.424103,0.430327,0.420395,0.040813,8
5,5.376687,0.067389,0.404151,0.017511,square,2000,"{'loss': 'square', 'n_estimators': 2000}",0.485621,0.359876,0.384256,0.422126,0.428609,0.416098,0.042898,9
6,1.370555,0.035439,0.100338,0.003380,exponential,500,"{'loss': 'exponential', 'n_estimators': 500}",0.515500,0.341722,0.421414,0.431863,0.459277,0.433955,0.056497,4
7,2.634776,0.006998,0.196679,0.006043,exponential,1000,"{'loss': 'exponential', 'n_estimators': 1000}",0.516904,0.330133,0.408404,0.415066,0.453970,0.424895,0.061089,5
8,4.721490,0.483149,0.338591,0.060525,exponential,2000,"{'loss': 'exponential', 'n_estimators': 2000}",0.515908,0.319240,0.407438,0.412490,0.448300,0.420675,0.063818,6

In [9]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("Sex male 0 or 1:"))
smoker_yes_input=int(input("Smoker yes or no:"))

Age:19
BMI:27.900
children:0
Sex male 0 or 1:0
Smoker yes or no:1

In [10]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[18900.63440621]

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [11]:
import pickle
filename="finalized_Model_adaboost.sav"
pickle.dump(grid,open(filename,'wb'))

In [12]:
loaded_model=pickle.load(open("finalized_Model_adaboost.sav",'rb'))
result=loaded_model.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [13]:
result

array([18900.63440621])