In [ ]:
#!pip install xgboost==1.7.3

In [1]:
import xgboost as xg
print(xg.__version__)

1.6.2

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
#independent=dataset[['age', 'bmi', 'children', 'sex_male','smoker_yes']]
independent=dataset.iloc[:,[0,1,2,4,5]]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
#dependent=dataset[['charges']]
dependent=dataset.iloc[:,[3]]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
regressor = XGBRegressor()
param_grid = {'max_depth': [5],
              'n_estimators': [10,100]}
grid = GridSearchCV(regressor,param_grid,n_jobs =-1,verbose=3,refit=True)
grid.fit(independent,dependent)

Fitting 5 folds for each of 2 candidates, totalling 10 fits

GridSearchCV(estimator=XGBRegressor(base_score=None, booster=None,
                                    callbacks=None, colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    early_stopping_rounds=None,
                                    enable_categorical=False, eval_metric=None,
                                    gamma=None, gpu_id=None, grow_policy=None,
                                    importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, max_bin=None,
                                    max_cat_to_onehot=None, max_delta_step=None,
                                    max_depth=None, max_leaves=None,
                                    min_child_weight=None, missing=nan,
                                    monotone_constraints=None, n_estimators=100,
                                    n_jobs=None, num_parallel_tree=None,
                                    predictor=None, random_state=None,
                                    reg_alpha=None, reg_lambda=None, ...),
             n_jobs=-1,
             param_grid={'max_depth': [5], 'n_estimators': [10, 100]},
             verbose=3)

In [11]:
re=grid.cv_results_
print(re)

{'mean_fit_time': array([0.05051689, 0.17049422]), 'std_fit_time': array([0.0146475 , 0.03015178]), 'mean_score_time': array([0.01059451, 0.00859461]), 'std_score_time': array([0.00174339, 0.00215329]), 'param_max_depth': masked_array(data=[5, 5],
             mask=[False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[10, 100],
             mask=[False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 5, 'n_estimators': 10}, {'max_depth': 5, 'n_estimators': 100}], 'split0_test_score': array([0.87676657, 0.82407878]), 'split1_test_score': array([0.79659933, 0.72971913]), 'split2_test_score': array([0.88401002, 0.84427208]), 'split3_test_score': array([0.84635931, 0.81958868]), 'split4_test_score': array([0.85643793, 0.83394473]), 'mean_test_score': array([0.85203463, 0.81032068]), 'std_test_score': array([0.03085049, 0.0411888 ]), 'rank_test_score': array([1, 2])}

In [12]:
print("The R Score value for the best Parameter{}:".format(grid.best_params_))

The R Score value for the best Parameter{'max_depth': 5, 'n_estimators': 10}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.050517,0.014647,0.010595,0.001743,5,10,"{'max_depth': 5, 'n_estimators': 10}",0.876767,0.796599,0.884010,0.846359,0.856438,0.852035,0.030850,1
1,0.170494,0.030152,0.008595,0.002153,5,100,"{'max_depth': 5, 'n_estimators': 100}",0.824079,0.729719,0.844272,0.819589,0.833945,0.810321,0.041189,2

In [15]:
print(independent.columns)

Index(['age', 'bmi', 'children', 'sex_male', 'smoker_yes'], dtype='object')

In [16]:
import xgboost
regressor = xgboost.XGBRegressor(objective='reg:linear', n_estimators=10)
regressor.fit(independent,dependent)

[16:54:21] WARNING: C:/Users/administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=10, n_jobs=0,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, reg_alpha=0, ...)

In [17]:
import pickle
filename="finalized_Model_xgboost.sav"
pickle.dump(grid,open(filename,'wb'))

In [18]:
loaded_model=pickle.load(open("finalized_Model_xgboost.sav",'rb'))
# Define the prediction input
prediction = [[19, 27.900, 0,0,1]]
Future_prediction = pd.DataFrame(prediction, columns=['age', 'bmi', 'children', 'sex_male', 'smoker_yes'])

# Make the prediction
result = loaded_model.predict(Future_prediction)
print(result)

[17451.709]

In [ ]:
result